In [1]:
# Create pandas
! pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/nr/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/anaconda3/envs/nr/lib/python3.11/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/nr/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/nr/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/nr/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/nr/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd
data =[10,11,12,13,14]
series = pd.Series(data)
print(series)
print(type(series))

0    10
1    11
2    12
3    13
4    14
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
# Create a series from dictionary
data = { 'a':1 , 'b': 2 , 'c': 3, 'd':4}
dic_series = pd.Series(data)
print(dic_series)

# index : a,b,c ,d 
# values : 1,2,3,4

a    1
b    2
c    3
d    4
dtype: int64

In [5]:

import pandas as pd
data = [1,2,3,4]
index1 = ['a','b','c','d']
series = pd.Series(data,index=index1)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [7]:

import pandas as pd
data = [1,2,3,4,6,7]
index = ['a','b','c','d','a','d']
series = pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    4
a    6
d    7
dtype: int64

In [13]:
# DataFrame
# Create a dataframe from a dictionary of list
data={
    'Name': ['Tom' , 'Jarry' , 'John'],
    'age': [20,22,66],
    'city' : ["Chicago","NewYork", "Austin"]

}

df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  age     city
0    Tom   20  Chicago
1  Jarry   22  NewYork
2   John   66   Austin
<class 'pandas.core.frame.DataFrame'>

In [26]:
# Convert it in arry

import numpy as np
np.array(df)

array([['Tom', 20, 'Chicago'],
       ['Jarry', 22, 'NewYork'],
       ['John', 66, 'Austin']], dtype=object)

In [27]:
# Create a dataframe from list of Dic 
data=[
{'name':'Tommy', 'age' : 10 , 'city': 'Chicago'} ,
{'name':'Linda', 'age' : 20 , 'city': 'New York'}
]

df= pd.DataFrame(data)
print(df)

    name  age      city
0  Tommy   10   Chicago
1  Linda   20  New York