In [8]:
import sqlite3

In [9]:
# connect
# created example.db 
connection = sqlite3.connect('scl.db')
connection

In [10]:
# Create cursor
cur = connection.cursor()

In [11]:
# create a table
cur.execute('''
Create Table If Not Exists emp(
id INT PRIMARY KEY,
name Text not Null,
age Int,
Dept Text
)

'''
)

# without commit its not saved.
connection.commit()

In [12]:
cur.execute('''
select * from emp
'''
)

In [13]:
# insert the data
cur.execute(
'''Insert Into emp (id,name,age,dept)
values (1,'Tom' , 20 , 'Computer')
'''
)

cur.execute(
'''Insert Into emp (id,name,age,dept)
values (2,'Lella' , 22 , 'Computer')
'''
)


cur.execute(
'''Insert Into emp (id,name,age,dept)
values (3,'Alexa' , 20 , 'Data Science')
'''
)


cur.execute(
'''Insert Into emp (id,name,age,dept)
values (4,'Sky' , 21 , 'Engineering')
'''
)


cur.execute(
'''Insert Into emp (id,name,age,dept)
values (5, 'Rita' , 21 , 'Engineering')
'''
)

# commit the changes
connection.commit()

In [14]:
cur.execute('''
select * from emp
'''
)

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Tom', 20, 'Computer')
(2, 'Lella', 22, 'Computer')
(3, 'Alexa', 20, 'Data Science')
(4, 'Sky', 21, 'Engineering')
(5, 'Rita', 21, 'Engineering')