In [8]:
import sqlite3

In [9]:
# connect
# created example.db 
connection = sqlite3.connect('scl.db')
connection

In [10]:
# Create cursor
cur = connection.cursor()

In [11]:
# create a table
cur.execute('''
Create Table If Not Exists emp(
id INT PRIMARY KEY,
name Text not Null,
age Int,
Dept Text
)

'''
)

# without commit its not saved.
connection.commit()

In [12]:
cur.execute('''
select * from emp
'''
)

In [13]:
# insert the data
cur.execute(
'''Insert Into emp (id,name,age,dept)
values (1,'Tom' , 20 , 'Computer')
'''
)

cur.execute(
'''Insert Into emp (id,name,age,dept)
values (2,'Lella' , 22 , 'Computer')
'''
)


cur.execute(
'''Insert Into emp (id,name,age,dept)
values (3,'Alexa' , 20 , 'Data Science')
'''
)


cur.execute(
'''Insert Into emp (id,name,age,dept)
values (4,'Sky' , 21 , 'Engineering')
'''
)


cur.execute(
'''Insert Into emp (id,name,age,dept)
values (5, 'Rita' , 21 , 'Engineering')
'''
)

# commit the changes
connection.commit()

In [14]:
cur.execute('''
select * from emp
'''
)

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Tom', 20, 'Computer')
(2, 'Lella', 22, 'Computer')
(3, 'Alexa', 20, 'Data Science')
(4, 'Sky', 21, 'Engineering')
(5, 'Rita', 21, 'Engineering')

In [19]:
# update the data in the table
cur.execute(
    '''
    update emp 
    set age= 29
    where name = 'Tom'
    '''
)
connection.commit()

In [20]:
cur.execute('''
select * from emp
'''
)

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Tom', 29, 'Computer')
(2, 'Lella', 22, 'Computer')
(3, 'Alexa', 20, 'Data Science')
(4, 'Sky', 21, 'Engineering')
(5, 'Rita', 21, 'Engineering')

In [21]:
# delete the data from the table
cur.execute(
    '''
    delete from emp where id = 3
    '''
)

In [22]:
cur.execute('''
select * from emp
'''
)

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Tom', 29, 'Computer')
(2, 'Lella', 22, 'Computer')
(4, 'Sky', 21, 'Engineering')
(5, 'Rita', 21, 'Engineering')

In [30]:
# working with sales data
connection = sqlite3.connect('sales_data.db')
cur = connection.cursor()

# create a table for sales data
cur.execute(''' 
create table If not exists sales (
id Int PRIMARY KEY,
date Text, 
product Text Not Null,
sales Int,
region Text)
''')


connection.commit()

In [31]:
sls_data = [
    ('2022-01-01', 'Computer', 100, 'North'),
    ('2022-01-02', 'TV', 200, 'South'),
    ('2022-01-03', 'Mobile', 300, 'East'),
]


cur.executemany('''
Insert into sales(date, product, sales, region) 
                                values(?,?,?,?)
''',sls_data)
connection.commit()

In [33]:
cur.execute('''
select * from sales
'''
)

rows = cur.fetchall()

for row in rows:
    print(row)

(None, '2022-01-01', 'Computer', 100, 'North')
(None, '2022-01-02', 'TV', 200, 'South')
(None, '2022-01-03', 'Mobile', 300, 'East')

In [35]:
# close the connection
connection.close()

In [37]:
# gives an error as connection is closed.
cur.execute('''
select * from sales
'''
)

rows = cur.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.