In [7]:
# reading data from different sources.
import pandas as pd
from io import StringIO
data = '{"Employee_name": "James" , "email" : "james@gpgg.com" , "job_profile" : [{"title1" : "Team lead", "dept" : "computer"}] }'
df = pd.read_json(StringIO(data))
df

  Employee_name           email                                  job_profile
0         James  james@gpgg.com  {'title1': 'Team lead', 'dept': 'computer'}

In [8]:
df.to_json()

'{"Employee_name":{"0":"James"},"email":{"0":"james@gpgg.com"},"job_profile":{"0":{"title1":"Team lead","dept":"computer"}}}'

In [10]:
df.to_json(orient='index')

'{"0":{"Employee_name":"James","email":"james@gpgg.com","job_profile":{"title1":"Team lead","dept":"computer"}}}'

In [11]:
df.to_json(orient='records')

'[{"Employee_name":"James","email":"james@gpgg.com","job_profile":{"title1":"Team lead","dept":"computer"}}]'

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/rajpuranirali/DS/main/DA/car_data.csv")
print(df.head(20))

      Make Colour  Odometer (KM)  Doors    Price
0    Honda  White        35431.0    4.0  15323.0
1      BMW   Blue       192714.0    5.0  19943.0
2    Honda  White        84714.0    4.0  28343.0
3   Toyota  White       154365.0    4.0  13434.0
4   Nissan   Blue       181577.0    3.0  14043.0
5    Honda    Red        42652.0    4.0  23883.0
6   Toyota   Blue       163453.0    4.0   8473.0
7    Honda  White            NaN    4.0  20306.0
8      NaN  White       130538.0    4.0   9374.0
9    Honda   Blue        51029.0    4.0  26683.0
10  Nissan  White       167421.0    4.0  16259.0
11  Nissan  Green        17119.0    4.0   6160.0
12  Nissan  White       102303.0    4.0  16909.0
13     NaN  White       134181.0    4.0  11121.0
14   Honda   Blue       199833.0    4.0  18946.0
15  Toyota   Blue       205592.0    4.0  16290.0
16  Toyota    Red        96742.0    4.0  34465.0
17     BMW  White       194189.0    5.0  17177.0
18  Nissan  White        67991.0    3.0   9109.0
19  Nissan   Blue       215820.0    4.0   6010.0

In [20]:
df1 = pd.read_csv("https://raw.githubusercontent.com/rajpuranirali/DS/refs/heads/main/DA/stock_snapshots.csv")
df1.head(10)

,Snapshot_ID,Item_ID,Item_Name,Warehouse,Current_Stock,Snapshot_Timestamp
0,22113,1195,Xbox Wireless Controller,LA Warehouse,0,2025-06-25 14:00:00
1,25737,1928,Microsoft Modern Webcam,Chicago Warehouse,359,2025-05-09 09:00:00
2,22624,2292,Microsoft HoloLens 2,Atlanta Distribution Hub,366,2025-10-31 12:00:00
3,21613,8552,Surface Pro 9,Houston Warehouse,199,2025-09-30 22:00:00
4,24646,5618,Azure GPU Node,Seattle Warehouse,175,2025-06-10 08:00:00
5,27380,8504,Data Center Cooling Unit,LA Warehouse,115,2025-09-19 01:00:00
6,25455,7014,Azure Rack Server,Houston Warehouse,125,2025-10-12 13:00:00
7,28132,7498,Surface Go 3,Houston Warehouse,125,2025-09-21 15:00:00
8,24608,5134,Surface Laptop 5,Houston Warehouse,416,2025-09-07 09:00:00
9,26025,3945,Surface Pen,Atlanta Distribution Hub,291,2025-06-21 07:00:00

In [21]:
df1 = pd.read_csv("https://raw.githubusercontent.com/rajpuranirali/DS/refs/heads/main/DA/stock_snapshots.csv", header = None)
df1.head(10)

,0,1,2,3,4,5
0,Snapshot_ID,Item_ID,Item_Name,Warehouse,Current_Stock,Snapshot_Timestamp
1,22113,1195,Xbox Wireless Controller,LA Warehouse,0,2025-06-25 14:00:00
2,25737,1928,Microsoft Modern Webcam,Chicago Warehouse,359,2025-05-09 09:00:00
3,22624,2292,Microsoft HoloLens 2,Atlanta Distribution Hub,366,2025-10-31 12:00:00
4,21613,8552,Surface Pro 9,Houston Warehouse,199,2025-09-30 22:00:00
5,24646,5618,Azure GPU Node,Seattle Warehouse,175,2025-06-10 08:00:00
6,27380,8504,Data Center Cooling Unit,LA Warehouse,115,2025-09-19 01:00:00
7,25455,7014,Azure Rack Server,Houston Warehouse,125,2025-10-12 13:00:00
8,28132,7498,Surface Go 3,Houston Warehouse,125,2025-09-21 15:00:00
9,24608,5134,Surface Laptop 5,Houston Warehouse,416,2025-09-07 09:00:00

In [23]:
# covert in csv file. convert this data frame in stock.csv file
df1.to_csv("stock.csv")

In [28]:
# url = " "
# df = pd.read_html(url)